### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df=school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
 
 #count number of schools
df.groupby(['school_name']).size()
print(len(df.school_name.unique()))
count_school= len(df.school_name.unique())

#total number of students 
number_students = df[['Student ID']].nunique().values[0]



#calculate total budget
Total = school_data['budget'].sum()


#average math score
score = student_data[['math_score']].mean()[0]


#average reading score
read_score= student_data[['reading_score']].mean()[0]


#overall passing score
overall_Score = (score+read_score)/2


#calculation of 70 or higher math score
calculation=student_data[student_data.math_score >= 70].count()[0]



#percent of passing math
percent_pass_math=(calculation/number_students)*100


#calculation of 70 or higher reading score
calculation2=student_data[student_data.reading_score >= 70].count()[0]

print(calculation2)
#percent of passing reading
percent_pass_read=(calculation2/number_students)*100

15
33610

In [10]:
#create a dataframe to hold all of the results

New_df = pd.DataFrame({'Number of Schools':  [count_school],'Total Number of Students': [number_students],'Total Budget': [Total], 
        'Avg Math Score': [score], 'Avg Read Score': [read_score], 'Overall Pass Rate': [overall_Score], '% Math pass': [percent_pass_math],
        '% Pass Read': [percent_pass_read]})
        
New_df

,Number of Schools,Total Number of Students,Total Budget,Avg Math Score,Avg Read Score,Overall Pass Rate,% Math pass,% Pass Read
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [11]:
df['school_name'].unique()
all_schools= df['school_name'].unique()

types=school_data.set_index(["school_name"])["type"]


#total students
numbers_students = school_data_complete["school_name"].value_counts()


#calculate total budget
Total_budget = school_data_complete.groupby(['school_name']).mean()["budget"]

#per student budget

per_budget=Total_budget/numbers_students


#average math score
score_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
score_math

#average reading score
read_scores= school_data_complete.groupby(["school_name"]).mean()["reading_score"]
read_scores
#calculation of 70 or higher math score - I am getting errors here
math_passing=school_data_complete.groupby(["school_name"]).count()["student_name"]/numbers_students*100
#passing reading scores
read_passing_schools=school_data_complete.groupby(["school_name"]).count()["student_name"]/numbers_students*100

#overall pass rate

overall_rate=math_passing+read_passing_schools/2

In [12]:
#create a dataframe to hold the above data

Dataframe2 = pd.DataFrame({"Name of Schools":  [all_schools],"Type of School": [types],"Total Students":[numbers_students],"Total Budget": [Total_budget], 
        "Avg Math Score": [score_math], "Avg Read Score": [read_scores],  "% Math pass": [math_passing],
        "% Pass Read": [read_passing_schools],"Overall Pass Rate":[overall_rate]})
        
Dataframe2=Dataframe2[["Name of Schools", "Type of School", "Total Students", "Total Budget", "Avg Math Score", "Avg Read Score", "% Math pass", "% Pass Read", "Overall Pass Rate"]]
Dataframe2["Total Budget"]=Dataframe2["Total Budget"].map("${:,.2f}".format)

Dataframe2

TypeError: unsupported format string passed to Series.__format__

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [13]:
Top_schools=Dataframe2.sort_values(["Overall Pass Rate"], ascending=False)
Top_schools.head(5)

,Name of Schools,Type of School,Total Students,Total Budget,Avg Math Score,Avg Read Score,% Math pass,% Pass Read,Overall Pass Rate
0,"[Huang High School, Figueroa High School, Shel...",school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 150.0 Cabrera High Sc...

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [14]:
Lowest_Schools=Dataframe2.sort_values(["Overall Pass Rate"], ascending=True)
Lowest_Schools.head(5)

,Name of Schools,Type of School,Total Students,Total Budget,Avg Math Score,Avg Read Score,% Math pass,% Pass Read,Overall Pass Rate
0,"[Huang High School, Figueroa High School, Shel...",school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 150.0 Cabrera High Sc...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
ninth_g=school_data_complete[(school_data_complete["grade"] =="9th")]

tenth_g=school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_g=school_data_complete[(school_data_complete["grade"] =="11th")]

twelfth_g=school_data_complete[(school_data_complete["grade"] == "12th")]

#grouping

Score_by_grade=pd.DataFrame({"9th": ninth_g, "10th": tenth_g, "11th":eleventh_g, "12th":twelfth_g})

Score_by_grade=Score_by_grade[["9th", "10th", "11th", "12"]] Score_by_grade.index.name=None

Score_by_grade

SyntaxError: invalid syntax (<ipython-input-15-b5d3492ec94a>, line 12)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [16]:
ninth_g=school_data_complete[(school_data_complete["grade"] == 9th")]
                              
tenth_g=school_data_complete[(school_data_complete["grade"] =="10th")]  
 
eleventh_g=school_data_complete[(school_data_complete["grade"] =="11th")]
                              
twelfth_g=school_data_complete[(school_data_complete["grade"] =="12th")]    
                              
                              
ninth_graders=ninth_g.groupby(["school_name"]).mean()["reading_score"]    
 tenth_graders=tenth_g.groupby(["school_name"]).mean()["reading_score"]             
 eleventh_graders=eleventh_g.groupby(["school_name"]).mean()["reading_score"]             
twelfth_graders=twelfth_g.groupby(["school_name"]).mean()["reading_score"]      
                              
 Score_by_grade=Score_by_grade[["9th", "10th", "11th", "12th"]]  
  
Score_by_grade.index.name=None

Score_by_grade

SyntaxError: invalid syntax (<ipython-input-16-71f1afa51f72>, line 1)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Dataframe2=["Spend per Student"]=pd.cut(per_school, spending_bins, labels =group_names)

Spend_math=Dataframe2.groupby(["Spend per Student"]).mean()["Avg Math Score"]
Spend_read=Dataframe2.groupby(["Spend per Student"]).mean()["Avg Read Score"]

Spend_pass_math=Dataframe2.groupby(["Spend per Student"]).mean()["% Math pass"]
Spend_pass_read=Dataframe2.groupby(["Spend per Student"]).mean()["% Read Pass"]

overall_rate_pass=(Spend_pass_math+Spend_pass_read)/2

Spend_summary=pd.DataFrame({"Avg Math Score": Spend_math, "Avg Read Score": Spend_pass_read, "Overall Passing Rate": overall_pass_rate})

Spend_summary= Spend_summary[["Avg Math Score", "Avg Read Score", "% Math pass", "% Read Pass"]]

Spend_summary

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:
Dataframe2= pd.cut(Dataframe2["Total Students"], size_bins, labels=group_names)

size_math=Dataframe2.groupby(["School Size"]).mean()["Avg Math Score"]

size_read= Dataframe2.groupby(["School Size"]).mean()["Avg Read Score"]

size_pass_math=Dataframe2.groupby(["School Size"]).mean()["% Math pass"]

size_pass_read=Dataframe2.groupby(["School Size"]).mean()["% Read Pass"]

overall_pass_rate=(size_pass_math+size_pass_read)/2

size_summary=pd.DataFrame({"Avg Math Score": size_math, "Avg Read Score": size_read, "% Math pass": size_pass_math, "% Read Pass": size_pass_read })

size_summary= size_summary[["Avg Math Score", "Avg Read Score","% Math pass", "% Read Pass"]]

size_summary

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
type_math_scores = Dataframe2.groupby(["Type of School"]).mean()["Avg Math Score"]
type_reading_scores = Dataframe2.groupby(["Type of School"]).mean()["Avg Read Score"]
type_passing_math = Dataframe2.groupby(["Type of School"]).mean()["% Math pass"]
type_passing_reading = Dataframe2.groupby(["Type of School"]).mean()["% Read Pass"]
overall_pass_rate = (type_passing_math + type_passing_reading) / 2


#data frame
type_summary = pd.DataFrame({"Avg Math Score" : type_math_scores,
                            "Avg Read Score": type_reading_scores,
                            "% Math pass": type_passing_math,
                            "% Read Pass": type_passing_reading,
                            "% Overall Pass Rate": overall_pass_rate})

type_summary = type_summary[["Avg Math Score", 
                            "Avg Read Score",
                            "% Math pass",
                            "% Read Pass",
                            "% Overall Pass Rate"]]

type_summary

DataError: No numeric types to aggregate